<!DOCTYPE html>
<html>
<head data-th-fragment="head">
    <title>Changed Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" data-th-href="@{resources/css/ajax.css}" />
</head>
<body>
<div id="menu" data-th-fragment="topMenu">
    <ul>
        <li><a data-th-href="@{/vacationRequest/new}">New</a></li>
        <li><a data-th-href="@{/vacationRequest/list}">List</a></li>
        <li><a data-th-href="@{/vacationRequest/confirm}">Confirm</a></li>
    </ul>
</div>

</body>
</html>