<!DOCTYPE html>
<html>
<head data-th-replace="fragment/common :: head">
    <title>Title</title>
</head>
<body>
<div data-th-replace="fragment/common :: topMenu">></div>
<table class="table table-striped">
    <tr>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>Number of Days</th>
        <th>Motivation</th>
        <th>Action</th>
    </tr>
    <tr data-th-each="pi : ${runningProcesses.data}">
        <td data-th-text="${pi.variables}">Onions</td>
        <td data-th-text="${pi.url}">2.41</td>
        <td data-th-text="${pi.businessKey}">2.41</td>
        <td data-th-text="${pi.ended}">2.41</td>
    </tr>
</table>
<script>
    $( document ).ready(function() {
        $('.navbar-nav > li').removeClass('active');
        $('.navbar-nav > li:nth-child(3)').addClass('active');
    });
</script>
</body>
</html>