<!DOCTYPE html>
<html>
<head data-th-replace="fragment/common :: head">
    <title>Title</title>
</head>
<body>
<div data-th-replace="fragment/common :: topMenu">></div>
<div class="container">
<table class="table table-striped">
    <tr>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>Number of Days</th>
        <th>Motivation</th>
        <th>Status</th>
    </tr>
    <tr data-th-each="vacationRequest : ${historicProcessInstances}">
        <td ><p  data-th-text="${vacationRequest.getEmployeeName()}"></p></td>
        <td ><p  data-th-text="${#calendars.format(vacationRequest.getStartDate(),'dd MMMM yyyy')}"></p></td>
        <td ><p  data-th-text="${vacationRequest.getNumberOfDays()}"></p></td>
        <td ><p  data-th-text="${vacationRequest.getVacationMotivation()}"></p></td>
    </tr>
</table>
</div>
<script>
    $( document ).ready(function() {
        $('.navbar-nav > li').removeClass('active');
        $('.navbar-nav > li:nth-child(4)').addClass('active');
    });
</script>
</body>
</html>