<!DOCTYPE html>
<html>
<head data-th-replace="fragment/common :: head">
    <title>Title</title>
</head>
<body>
<div data-th-replace="fragment/common :: topMenu">></div>
<table class="table table-striped">
    <tr>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>Number of Days</th>
        <th>Motivation</th>
        <th>Action</th>
    </tr>
    <tr data-th-each="task : ${myTasks.data}">
        <td ><p  data-th-text="${task.getVariable('employeeName').getValue()}"></p></td>
        <td ><p  data-th-text="${task.getVariable('startDate').getValue()}"></p></td>
        <td ><p  data-th-text="${task.getVariable('numberOfDays').getValue()}"></p></td>
        <td ><p  data-th-text="${task.getVariable('motivation').getValue()}"></p></td>
        <td>
            <button class="btn btn-primary" type="submit">Confirm</button>
            <button class="btn btn-default" type="submit">Decline</button>
        </td>
    </tr>
</table>
<script>
    $( document ).ready(function() {
        $('.navbar-nav > li').removeClass('active');
        $('.navbar-nav > li:nth-child(3)').addClass('active');
    });
</script>
</body>
</html>