<!DOCTYPE html>
<html>
<head data-th-replace="fragment/common :: head">
    <title>Title</title>
</head>
<body>
<div data-th-replace="fragment/common :: topMenu">></div>
    <div class="container">

        <table class="table table-hover">
            <tr>
                <th>Operation</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>vacationRequest</td>
                <td>Create a new vacation request</td>
                <td>
                    <button class="btn btn-primary actionBtn" type="button" name="action" value="action">Action</button>
                </td>
            </tr>
        </table>

    <!-- vacation request modal -->
    <div class="modal fade" id="createVacationRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Vacation Request</h4>
                </div>
                <div class="modal-body">
                    <form data-th-replace="fragment/vacationRequestForm" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-th-form="vacationRequestForm" onclick="doAjaxPost()">Create</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).on('click', '.actionBtn', function(event) {
        var index = $(this).closest('tr').index()-1;
        var taskId = $(this).closest('tr').find(".taskId").text();
        var taskType = $(this).closest('tr').find(".taskType").text();
        showModal(index,taskId, taskType);
    });

    function showModal(index, taskId, taskType){
        $('#createVacationRequest').modal('show');
    }

    function doAjaxPost() {
        $.ajax({
           type: "POST",
           url: "http://localhost:8080/activiti-app/vacationRequest/new",
           data: "employeeName=kermit",
           success: function(response){
               // we have the response
               if(response.status == "SUCCESS"){
                   console.log(response);
               }else{
                   $('#createVacationRequest').modal('show');
                   console.log(response);
               }
           },
           error: function(e){
               alert('Error: ' + e);
           }
        });
    }
</script>
</body>
</html>