<!DOCTYPE html>
<html>
<head data-th-replace="fragment/common :: head">
    <title>Title</title>
</head>
<body>
<div data-th-replace="fragment/common :: topMenu">></div>
<div class="container">
<table class="table table-hover">
    <tr>
        <th>PID</th>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>Number of Days</th>
        <th>Motivation</th>
        <th>Action</th>
    </tr>
    <tr data-th-each="vacationRequest,iter : ${pool}">

        <td ><p  data-th-text="${processInstances[iter.index].get('processInstanceId')}"></p></td>
        <td ><p  data-th-text="${vacationRequest.getEmployeeName()}"></p></td>
        <td ><p  data-th-text="${#calendars.format(vacationRequest.getStartDate(),'dd MMMM yyyy')}"></p></td>
        <td ><p  data-th-text="${vacationRequest.getNumberOfDays()}"></p></td>
        <td ><p  data-th-text="${vacationRequest.getVacationMotivation()}"></p></td>
        <!--<td ><p  data-th-text="${task.variables.get(0).getValue()}"></p></td>-->
        <td>
            <form class="form-horizontal" role="form" action="#" data-th-action="@{/vacationRequest/poolForm}" data-th-object="${index}" method="post">
                <input type="hidden" name="processInstanceId"  data-th-value="${processInstances[iter.index].get('processInstanceId')}"/>
                <button class="btn btn-primary" type="submit" name="action" value="claim">Claim</button>
                <button class="btn btn-default" type="submit" name="action" value="delete">Delete</button>
            </form>
        </td>
    </tr>
</table>
</div>
<script>
    $( document ).ready(function() {
        $('.navbar-nav > li').removeClass('active');
        $('.navbar-nav > li:nth-child(4)').addClass('active');
    });
</script>
</body>
</html>